<ng-container *ngIf="authSvc.user$ | async as user">
  <div class="row">
    <div class="col-12">
      <ul #nav="ngbNav" [(activeId)]="active" class="nav-tabs font-weight-bold" ngbNav>

        <!---------- OUTS ---------->
        <li [ngbNavItem]="1">
          <a ngbNavLink>Salidas</a>
          <ng-template ngbNavContent>

            <!-- PAGE OUT'S -->
            <ng-container *ngIf="pageOuts === true">
              <app-outs
                (outId)="showPageViewOut($event)"
                [user]="user"
              ></app-outs>
            </ng-container>

            <!-- PAGE VIEW OUT'S -->
            <ng-container *ngIf="pageViewOut === true">
              <app-view-out
                (btnBack)="showPageOuts($event)"
                (expenseId)="showPageExpenseView($event)"
                [outId]="outId"
                [user]="user">
              </app-view-out>
            </ng-container>

            <!-- PAGE EXPENSES -->
            <ng-container *ngIf="pageExpenses === true">
              <!--              <app-expenses-->
              <!--                (btnBack)="showPageOuts($event)"-->
              <!--                (expenseId)="showPageExpenseView($event)"-->
              <!--                [outId]="outId"-->
              <!--                [user]="user"-->
              <!--              ></app-expenses>-->
            </ng-container>

            <!-- PAGE VIEW EXPENSE -->
            <ng-container *ngIf="pageExpenseView === true">
              <!--              <app-view-expense-->
              <!--                (btnBack)="showPageExpenses($event)"-->
              <!--                [expenseId]="expenseId"-->
              <!--                [outId]="outId"-->
              <!--                [user]="user">-->
              <!--              </app-view-expense>-->
            </ng-container>
          </ng-template>
        </li>

        <!----------- IN'S ----------->
        <li [ngbNavItem]="2">
          <a ngbNavLink>Ingresos</a>
          <ng-template ngbNavContent>
            <app-incomes></app-incomes>
          </ng-template>
        </li>

      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</ng-container>
