<div class="row mt-4">

  <div class="col">
    <div (click)="getOuts()" class="card border-0 shadow-sm p-3 mb-5 rounded text-center">
      <div class="card-body p-0">
        <img alt="outs" class="btn-dashboard mb-2" src="../../../assets/images/dashboard/outs.png">
        <h4>Gastos</h4>
      </div>
    </div>
  </div>

  <div class="col">
    <div (click)="getIncomes()" class="card border-0 shadow-sm p-3 mb-5 rounded text-center">
      <div class="card-body p-0">
        <img alt="incomes" class="btn-dashboard mb-2" src="../../../assets/images/dashboard/incomes.png">
        <h4>Ingresos</h4>
      </div>
    </div>
  </div>

  <div class="col">
    <div (click)="getBalance()" class="card border-0 shadow-sm p-3 mb-5 rounded text-center">
      <div class="card-body p-0">
        <img alt="balance" class="btn-dashboard mb-2" src="../../../assets/images/dashboard/balance.png">
        <h4>Balance</h4>
      </div>
    </div>
  </div>

  <div class="col">
    <div (click)="getFriends()" class="card border-0 shadow-sm p-3 mb-5 rounded text-center">
      <div class="card-body p-0">
        <img alt="friends" class="btn-dashboard mb-2" src="../../../assets/images/dashboard/friends.png">
        <h4>Amigos</h4>
      </div>
    </div>
  </div>

</div>
