<ng-container *ngIf="authSvc.user$ | async as user">

  <!-- LIST OUTS -->
  <ng-container *ngIf="pageListOuts">

    <!-- SELECTOR DATE -->
    <app-selector-date-out
      (selectedMonth)="getSelectedMonth($event)"
      (selectedYear)="getSelectedYear($event)">
    </app-selector-date-out>

    <!-- LIST -->
    <app-list-outs
      [selectedMonth]="selectedMonth"
      [selectedYear]="selectedYear"
      (selectedOutId)="getSelectedOutId($event)"
      [user]="user">
    </app-list-outs>
  </ng-container>


  <!-- PAGE VIEW OUT -->
  <ng-container *ngIf="pageViewOut">
    <app-view-out
      (btnBack)="getBack($event)"
      (selectedExpenseId)="getSelectedExpenseId($event)"
      [outId]="selectedOutId"
      [user]="user">
    </app-view-out>
  </ng-container>


  <!-- PAGE VIEW EXPENSE -->
  <ng-container *ngIf="pageViewExpense">
    <app-view-expense
      (backToOut)="getBackToOut($event)"
      [expenseId]="selectedExpenseId"
      [outId]="selectedOutId"
      [user]="user">
    </app-view-expense>
  </ng-container>

</ng-container>
