<div class="row">
  <div class="col-12">
    <!-- TITLE -->
    <h5 *ngIf="out.description" class="mt-2">{{out.description.toUpperCase()}}</h5>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <!-- GOAL FIXED -- COLOR GREEN -->
    <p class="p-0 m-0 amount-fixed">
      <small>Meta establecida:&nbsp;</small>&nbsp;S/.&nbsp;{{out.amountGoal}}
    </p>
    <!-- AMOUNT EXCEEDED -- COLOR RED -->
    <ng-container *ngIf="out.amount > out.amountGoal">
      <p class="p-0 m-0 amount-diff">
        <small>Exceso:&nbsp;</small>&nbsp;S/.&nbsp;{{out.amount - out.amountGoal}}
      </p>
    </ng-container>
  </div>

  <div class="col-4 text-right">
    <!-- AMOUNT TOTAL -- COLOR BLACK -->
    <h6 class="p-0 m-0">S/. {{out.amount || 0}}</h6>
  </div>
</div>

<!-- START - TOOLBAR -->
<hr class="mb-2">
<div class="row">
  <div class="col-12">
    <!-- BUTTON DELETE -->
    <button type="button" class="btn btn-danger mr-2" (click)="getModalDelete(out, outId)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
           viewBox="0 0 16 16">
        <path
          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg>
    </button>

    <!-- BUTTON EDIT -->
    <button type="button" class="btn btn-info mr-2" (click)="getModalEdit(outId)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
           viewBox="0 0 16 16">
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
    </button>

    <!-- BUTTON SHARE -->
    <button type="button" class="btn btn-warning mr-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill"
           viewBox="0 0 16 16">
        <path
          d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
      </svg>
    </button>
  </div>
</div>
<hr class="mt-2">
<!-- END - TOOLBAR -->

<!-- LIST EXPENSES -->
<app-list-expenses
  (expenseId)="getViewExpense($event)"
  [outId]="outId"
  [user]="user">
</app-list-expenses>

<!-- NEW EXPENSE FORM -->
<div class="fixed-bottom bg-dark p-3">
  <app-new-expense
    (btnBack)="getBack($event)"
    [outId]="outId"
    [user]="user">
  </app-new-expense>
</div>
