<ng-container *ngIf="listExpenses.length > 0; else noResults">
  <ul class="list-group list-group-flush">
    <li *ngFor="let expense of listExpenses" class="list-group-item">
      <div class="row">
        <div class="col-9 p-0">
            <p class="p-0 m-0 text-capitalize">{{expense.description}}</p>
            <p class="p-0 m-0 text-muted">
              <small>{{expense.createdAt.toDate() | date :'short'}}</small>
            </p>
        </div>
        <div class="col-3 p-0 text-right">
          <p class="p-0 m-0">S/. {{expense.amount || 0}}</p>
        </div>
      </div>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
</ng-container>

<ng-template #noResults>
  <div class="alert alert-success" role="alert">
    No tiene gastos aun!
  </div>
</ng-template>
