<div class="row">
  <div class="col-9 p-0">
    <p class="p-0 m-0 text-capitalize">{{out.description}}</p>
  </div>
  <div class="col-3 p-0 text-right">
    <p class="p-0 m-0">S/. {{out.amount || 0}}</p>
  </div>
</div>

<div class="row">
  <div class="col-12 p-0 d-flex justify-content-end">
    <!-- GOAL FIXED -->
    <p class="p-0 m-0 amount-fixed">
      <small>Meta establecida:&nbsp;</small>&nbsp;S/.&nbsp;{{out.amountGoal}}
    </p>

    <!-- AMOUNT EXCEEDED -->
    <ng-container *ngIf="out.amount > out.amountGoal">
      &nbsp;&nbsp;-&nbsp;&nbsp;
      <p class="p-0 m-0 amount-diff">
        <small>Exceso:&nbsp;</small>&nbsp;S/.&nbsp;{{out.amount - out.amountGoal}}
      </p>
    </ng-container>

  </div>
</div>
